# 
TOPCODER_API_BASE_URL="https://api.topcoder.com"
AUTH0_M2M_TOKEN_URL="https://auth0proxy.topcoder-dev.com/token" # "https://topcoder-dev.auth0.com/oauth/token"
AUTH0_M2M_AUDIENCE="https://m2m.topcoder-dev.com/"
AUTH0_CLIENT_ID=""

# Config for LLM Agent for MS Teams tab app
# Azure AD SSO Configuration (from your App Registration in Entra ID)
AZURE_AD_AUDIENCE="api://diamondlike-crosstied-yuette.ngrok-free.app/82d17b02-2d34-4594-b243-09c516aad2e8"
AZURE_AD_TENANT_ID="9c8f4932-d163-42f7-aed6-b0117730a6e6"
IS_SAME_AZURE_AD_TENANT=false # true to check loggedIn user tenant should be same
MOCK_AZURE_AD_VALIDATION=false # true to use mock token instead of Azure AD

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BEDROCK_REGION="us-east-1"
AWS_BEDROCK_MODEL_ID="anthropic.claude-3-5-sonnet-20240620-v1:0";

# Using for Agent Conversations history
MONGO_DB_URL="mongodb://localhost:27017/teams-ai-agent"
# Required for AWS Document DB
MONGO_TLS_CA_PATH="C:/Users/Ravis/certs/aws/global-bundle.pem"
MONGO_IN_SSH_TUNNEL=true # Set to true if using SSH tunnel

#*** AWS Document DB examples ***#
# Localhost Development - Access Document DB via SSH tunnel, Setup SSH tunnel externally with EC2 bastion
MONGO_DB_URL="mongodb://<insertYourUsername>:<insertYourPassword>@localhost:27017/teams-ai-agent"
# Production - Document DB is accesable only within VPC with its connection string, 
# So, this Nest application also needs to host under same AWS VPC
MONGO_DB_URL="mongodb://<insertYourUsername>:<insertYourPassword>@docdb-2026-01-14-13-16-16.cluster-czey2emmgwcf.us-east-1.docdb.amazonaws.com:27017/teams-ai-agent?replicaSet=rs0&readPreference=secondaryPreferred"


# *** *********************************** *** #
# *** Frontend /teamsTab VITE Environment *** #
# Backend api url for frontend
VITE_API_BASE_URL="https://api.topcoder.com/v6/mcp/agent"
# For local development in web browser, use this variable to bypass MS Teams related code like authentication, theme etc.
VITE_IS_NOT_TEAMS_TAB=true
# Use this variable to bypass Azure AD SSO and use a mock token.
# NOTE: In production, use Azure AD to authenticate requests.
VITE_MOCK_VALIDATE_TOKEN=true

# Zayo
ZAYO_MCP_MGMT_URL="http://localhost:8011"
ZAYO_MCP_CLIENT_ID="03850b4a-0dfe-4db2-bbb0-7c045d2c6632"
ZAYO_MCP_CLIENT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.IjAzODUwYjRhLTBkZmUtNGRiMi1iYmIwLTdjMDQ1ZDJjNjYzMiI.Fhlpf78qRRZ3QFgE6hgP16gHKrztrrHzWxT2yYPX1M0"
ZAYO_MCP_ENABLED=true
ZAYO_MCP_SERVER_URL="http://localhost:8012"