# API Configuration
VITE_API_BASE_URL="http://localhost:3000/v6/mcp/agent"

# For local development in web browser, use this variable to bypass MS Teams related code like authentication, theme etc.
VITE_IS_NOT_TEAMS_TAB=true

# Use this variable to bypass Azure AD SSO and use a mock token.
# NOTE: In production, use Azure AD to authenticate requests.
VITE_MOCK_VALIDATE_TOKEN=true